export(CA)
export(CW)
export(delete)
export(doc_temp)
export(folder)
export(GQ)
export(html5)
export(LL)
export(new_report)
export(pad)
export(presentation)
export(reveal.js)
export(templates)
export(tex2docx)
export(update_bib)
export(US)
S3method(print,reports)
