export(CA)
export(citeL)
export(CN)
export(CW)
export(delete)
export(doc_temp)
export(folder)
export(FT)
export(GQ)
export(html5)
export(IM)
export(LL)
export(md2docx)
export(md2tex)
export(new_report)
export(notes)
export(pad)
export(parenciteL)
export(parenciteM)
export(posciteL)
export(possciteL)
export(presentation)
export(QC)
export(QQ)
export(rdirs)
export(reveal.js)
export(templates)
export(tex2docx)
export(tex2html)
export(textciteL)
export(textciteM)
export(update_bib)
export(US)
export(YT)
import(gdata)
import(slidify)
S3method(print,reports)
