/* BASED ON: http://www.developphp.com/view.php?tid=1358*/
.flip3D{ width:320px; height:427px; margin:10px; float:left; }
.flip3D > .front{
	position:absolute;
	-webkit-transform: perspective( 600px ) rotateY( 0deg );
	transform: perspective( 600px ) rotateY( 0deg );
    width:320px; height:427px; border-radius: 7px;

	background: lightgreen;
	z-index: 2;
	/* CHANGE FRONT PICTURE HERE */
	background: url(http://i.imgur.com/Ia8ABdd.png) 0 0 no-repeat; 
	background-size:480px 430px;
    background-position:center;			

	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	transition: -webkit-transform .25s linear 0s;
	transition: transform .25s linear 0s;
}
.flip3D > .back{
	position:absolute;
	-webkit-transform: perspective( 600px ) rotateY( 180deg );
	transform: perspective( 600px ) rotateY( 180deg );
	background: #80BFFF; width:320px; height:427px; border-radius: 7px;
	border-style:solid;
    border-color:#C7C7C7;
	border-width:1px;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	transition: -webkit-transform .25s linear 0s;
	transition: transform .25s linear 0s;
}
.flip3D:hover > .front{
	-webkit-transform: perspective( 600px ) rotateY( -180deg );
	transform: perspective( 600px ) rotateY( -180deg );
}
.flip3D:hover > .back{
	-webkit-transform: perspective( 600px ) rotateY( 0deg );
	transform: perspective( 600px ) rotateY( 0deg );
}

.flip3D:focus > .front{
	-webkit-transform: perspective( 600px ) rotateY( -180deg );
	transform: perspective( 600px ) rotateY( -180deg );
}
.flip3D:focus > .back{
	-webkit-transform: perspective( 600px ) rotateY( 0deg );
	transform: perspective( 600px ) rotateY( 0deg );
}

.front .name {
    font-size: 1.7em;
    display: inline-block;
    background: rgba(33, 33, 33, 0.9);
    color: #f8f8f8;
    font-family: Courier;
    padding: 5px 5px;
    border-radius: 5px;
    bottom: 16px;
    left: 32%;
    position: absolute;
    text-shadow: 0.1em 0.1em 0.05em #333;
}

.back-logo {
	position: absolute;
	top: 40px;
	left: 100px;
	width: 160px;
	height: 117px;
	background-size:100px 100px;
		/* CHANGE BACK PICTURE HERE */
	background: url(http://i.imgur.com/Ytfg22V.png) 0 0 no-repeat; 
}

.back-title {
	font-weight: bold;
	color: #00304a;
	position: absolute;
	top: 180px;
	left: 0;
	right: 0;
	text-align: center;
	text-shadow: 0.1em 0.1em 0.05em #acd7e5;
	font-family: Courier;
	font-size: 1.3em;
}


.back p {
	position: absolute;
	bottom: 10px;
	left: 0;
	right: 0;
	text-align: center;
	padding: 0 20px;
}